body {
    background-color: #696969;
    color: white;
}

.cut-text { 
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.overflow-information { 
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
  	width:150px;
}
